<% 
     @provinces = Admin::Location::Province.all
     @regions = Admin::Location::Region.all
     @villes = Admin::Location::Ville.all
%>
<div class="container my-4" id="profile">
  <div class="row">
    <div class="col-lg-10 mx-auto form-box">
      <%= form_with(model: profile, local: true) do |form| %>
       
         <%# <input id="phone" type="tel"> %>
        <p class="card-title"><%= current_user.enterprise? ? "Détails de l'entreprise" : "Informations personelles" %></p>
        <div class="form-row">
          <div class="form-group col-md-6">
           <% if (current_user.enterprise? ||  (current_user.admin? && profile.user.enterprise?)) %>
              <%= form.label :Logo_ou_photo%><br>
            <% elsif (current_user.worker? ||  (current_user.admin? && profile.user.worker?))%>
              <%= form.label :photo_de_profil %><br>
            <% end %>
            <%= form.file_field :photo, label: "charger image" %>
            <span class="<%= (@profile.errors[:photo].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            <br>
            <%#= image_tag(@profile.photo.variant(resize: "50x50" )) if @profile.photo.attached? %>
            <%# if form.object.photo? %>
              <%#= image_tag form.object.photo.thumb.url %>
              <%#= form.label :Supprimer_la_photo %>
              <%#= form.check_box :remove_photo %> 
            <%# end %>
          </div>


        <% if  (current_user.worker? ||  (current_user.admin? && profile.user.worker?)) %>
          <div class="form-group col-md-6">
            <%= form.label :cv %><br>
            <%= form.file_field :cv %>
            <span class="<%= (@profile.errors[:cv].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
          </div>
        <% end %>
        </div>
        <% if (current_user.worker? ||  (current_user.admin? && profile.user.worker?)) %>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :nom %>
              <%= form.text_field :nom,class:"form-control" %>
               <span class="<%= (@profile.errors[:nom].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>
            <div class="form-group col-md-6">
                <%= form.label :Prénom %>
                <%= form.text_field :prenom, class:"form-control" %>
                <span class="<%= (@profile.errors[:prenom].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>
          </div>
           <%# <h1>rimbo</h1> %>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.label :Numéro_de_Téléphone %>
              <div class="input-group mb-2" id="iti_phone">
                  <input  class="form-control phone", value=<%= !@profile.num_tel.nil? ? @profile.num_tel  : "" %> >
                  <span class="<%= (@profile.errors[:num_tel].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
                  <%= form.hidden_field :num_tel, class:"form-control phone1" %>
              </div>
            </div>

          

            <div class="form-group col-md-6">
              <%= form.label :nationalité %>
              <%= form.text_field :nationalite, class:"form-control" %>
              <span class="<%= (@profile.errors[:nationalite].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>
          </div>
         <% end %>

         <% if (current_user.enterprise? ||  (current_user.admin? && @profile.user.enterprise?)) %>
   
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :Nom_de_la_société %>
              <%= form.text_field :nom_societe,class:"form-control" %>
              <span class="<%= (@profile.errors[:nom_societe].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>
          
            <div class="form-group col-md-4">
              <%= form.label :Numéro_enregistrement%>
              <%= form.text_field :num_entreprise_quebec, class:"form-control" %>
              <span class="<%= (@profile.errors[:num_entreprise_quebec].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>

            <div class="form-group col-md-4">
              <%= form.label :Statut_Juridique %>
              <%= form.text_field :statut_juridique,class:"form-control" %>
              <span class="<%= (@profile.errors[:statut_juridique].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>
          </div>
        <% end %>

       
        <p class="card-title mt-2">Adresse</p>
        <div class="form-group">
          <label for="inputAddress">Adresse ligne 1</label>
            <%= form.text_field :adresse1, class:"form-control", :placeholder=>"Rue, Quartier" %>
            <span class="<%= (@profile.errors[:adresse1].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
        </div>

        <div class="form-group">
          <label for="inputAddress2">Adresse ligne 2</label>
          <%= form.text_field :adresse2, class:"form-control", :placeholder=>"Nº App ou Bureau" %>
        </div>
        <div class="form-group">
          <%= form.label :pays %>
          <%= form.country_select :pays, {only: %w(CA),selected: "CA", prompt: 'Choisir un pays'},{ class: 'form-control' } %>
           <span class="<%= (@profile.errors[:pays].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
              <%= form.label :Province %>
             <% if action_name == "edit" || action_name == "update" %>
                <select id="province" class="form-control" name="profile[province]" >
                  <option value="<%= @profile.province%>" selected disabled hidden><%=@profile.province%></option>
                  <% @provinces.order(:name).each do |province| %>
                    <option value="<%= province.name%>"> <%=province.name%> </option>
                  <% end %>
              </select>
             <% else %>
                <select id="province" class="form-control" name="profile[province]" >
                  <option value="" selected disabled hidden>Choisir une province...</option>
                  <% @provinces.order(:name).each do |province| %>
                    <option value="<%=province.name%>"> <%= province.name %> </option>
                  <% end %>
              </select>
             <% end %>
             <span class="<%= (@profile.errors[:province].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Région %>
            <select name="profile[region]" id="region" class="form-control">
              <% if action_name == "edit" || action_name == "update" %>
                  <option value="<%= @profile.region%>" selected disabled hidden><%=@profile.region%></option>
                  <% @provinces.order(:name).each do |province| %>
                      <optgroup label="<%=province.name%>">
                        <% @regions.order(:name).where(province_id: province.id).each do |region| %>
                          <option value="<%=region.name%>"> <%= region.name %></option>
                        <% end %>
                     </optgroup>
                  <% end %>
              <% else %>
                  <option value="" selected disabled hidden>Choisir une région...</option>
                  <% @provinces.order(:name).each do |province| %>
                      <optgroup label="<%=province.name%>">
                        <% @regions.order(:name).where(province_id: province.id).each do |region| %>
                          <option value="<%=region.name%>"> <%= region.name %> </option>
                        <% end %>
                    </optgroup>
                  <% end %>
              <% end %>
            </select>
             <span class="<%= (@profile.errors[:region].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Ville %>
            <select name="profile[ville]" id="ville" class="form-control">
              <% if action_name == "edit" || action_name == "update" %>
                  <option value="<%= @profile.ville%>" selected disabled hidden><%=@profile.ville%></option>
                    <% @regions.order(:name).each do |region| %>
                      <optgroup label="<%=region.name%>">
                        <% @villes.order(:name).where(region_id: region.id).each do |ville| %>
                          <option value="<%=ville.name%>"> <%= ville.name %> </option>
                        <% end %>
                    </optgroup>
                  <% end %>
              <% else %>
                  <option value="" selected disabled hidden>Choisir une région...</option>
                  <% @regions.order(:name).each do |region| %>
                      <optgroup label="<%=region.name%>">
                        <% @villes.order(:name).where(region_id: region.id).each do |ville| %>
                          <option value="<%=ville.name%>"> <%= ville.name %> </option>
                        <% end %>
                    </optgroup>
                  <% end %>
              <% end %>
            </select>
             <span class="<%= (@profile.errors[:ville].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
          </div>

          <div class="form-group col-md-3">
            <%= form.label :Code_postal %>
            <%= form.text_field :code_postal, class:"form-control"%>
            <span class="<%= (@profile.errors[:code_postal].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
          </div>
        </div>


        <% if (current_user.enterprise? ||  (current_user.admin? && profile.user.enterprise?))  %>
          <p class="card-title mt-3">Coordonnées du responsable</p>
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :Nom_et_prenom%>
              <%= form.text_field :nom_actionnaire_principal, class:"form-control" %>
              <span class="<%= (@profile.errors[:nom_actionnaire_principal].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>

            <div class="form-group col-md-4">
              <%= form.label :Courriel%>
              <%= form.text_field :actionnaire_email, class:"form-control" %>
               <span class="<%= (@profile.errors[:actionnaire_email].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>

            <div class="form-group col-md-4">
              <%= form.label :Téléphone%>
              <input  class="form-control phone", value=<%= !@profile.actionnaire_tel.nil? ? @profile.actionnaire_tel  : "" %> >
              <%= form.hidden_field :actionnaire_tel, class:"form-control phone1" %>
            </div>
          </div>
       
          <p class="card-title mt-3">Personne contact de l'entreprise</p>
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :Nom_et_prenom%>
              <%= form.text_field :nom_contact, class:"form-control" %>
              <span class="<%= (@profile.errors[:nom_contact].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>

            <div class="form-group col-md-4">
              <%= form.label :Courriel %>
              <%= form.text_field :email_contact, class:"form-control" %>
              <span class="<%= (@profile.errors[:email_contact].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
            </div>

            <div class="form-group col-md-4">
              <%= form.label :Téléphone %>
               <input  class="form-control phone2", value=<%= !@profile.tel_contact.nil? ? @profile.tel_contact  : "" %> >
               <span class="<%= (@profile.errors[:tel_contact].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
              <%= form.hidden_field :tel_contact, class:"form-control", id:"phone2"%>
            </div>
          </div>
         <% end %>

        <% if ((current_user.enterprise? )|| (current_user.admin? && @profile.user.enterprise? && action_name == "edit")) %>
            <p class="card-title mt-4"> Choisir un plan de recrutement</p>
        <% else ((current_user.worker? )|| (current_user.admin? && @profile.user.worker? && action_name == "edit")) %>
          <p class="card-title mt-4"> Choisir un plan </p>
        <% end %>

        <div class="row">
          <%= form.radio_button :pricing_plan, 'premium', id:"premium", class:"d-none", checked: !@profile.pricing_plan.nil? && @profile.premium? ? true : false %>
          <%= form.label :premium,'Premium', for:"premium", class:"p-5" do %>
            <% if ((current_user.enterprise? )|| (current_user.admin? && @profile.user.enterprise? && action_name == "edit")) %>
              $CA 249<span class=""> <p class="pricing-msg">Cette option vous permettra de recruter dans tous les secteurs d'activité.</p></span>
            <% else %>
              $CA 99<span class=""> <p class="pricing-msg">Cette option vous permettra de postuler dans tous les secteurs d'activité.</p></span>
            <% end %>
          <% end %>
          <%= form.radio_button :pricing_plan, 'free', id:"free", class:"d-none", checked: !@profile.pricing_plan.nil? && @profile.free? ? true : false  %>
          <%= form.label :premium,'Premium', for:"free", class:"p-5" do %>
            <% if ((current_user.enterprise?) || (current_user.admin? && @profile.user.enterprise? && action_name == "edit") )   %>
              Gratuit<span class=""> <p class="pricing-msg">Vous ne pourrez recruter que dans un seul secteur d'activité.</p></span>
            <% else %>
              Gratuit<span class=""> <p class="pricing-msg">Vous ne pourrez postuler que dans un seul secteur d'activité.</p></span>
            <% end %>
          <% end %>
            <span class="<%= (@profile.errors[:pricing_plan].empty? ? 'd-none' : 'd-block text-danger') %>"> Choisissez un plan obligatoirement </span>
        </div>

        <% if ( current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?) ) %>
          <p class="card-title mt-4">Secteur d'activité principal</p>
        <% elsif ( current_user.worker? || (current_user.admin? && @profile.user.worker?) ) %>
          <p class="card-title mt-4">Poste principal</p>
        <% end %>
        <div class="row">
          <div class="col-md-12">
              <div class="">
                <% if ( current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?) ) %>
                  <%= form.collection_select  :post_souhaite, Admin::JobCategory.order(:title).where(parent_id: nil ), :title, :title, {include_blank: "Choisir un secteur d'activité..."}, {class: "form-control"} %>
                <% elsif ( current_user.worker? || (current_user.admin? && @profile.user.worker?) ) %>
                  <%= form.grouped_collection_select :post_souhaite, Admin::JobCategory.order(:title).where(parent_id: nil).order(:title), :children, :title, :title, :title, {include_blank: "Choisir un poste..."}, {class: "form-control"} %>
                <% end %>
                 <span class="<%= (@profile.errors[:post_souhaite].empty? ? 'd-none' : 'd-block text-danger') %>"> Ce champ est obligatoire </span>
              </div>
          </div>
        </div>

        <div class="form-row" >
          <% if (current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?) ) %>
          <div class="col-md-12 cat-supp">
            <p class="card-title mt-4">Secteurs d'activité supplémentaires <%= link_to_add_row('Ajouter', form, :multi_profiles, class: 'btn btn-outline-secondary') %></p>
            <div class="fields mt-2 mb-5">
              <%= form.fields_for :multi_profiles do |builder| %>
                <fieldset>
                  <%= render 'multi_profile', form: builder %>
                </fieldset>
              <% end %>
            </div>
         
          <% elsif ( current_user.worker? || (current_user.admin? && @profile.user.worker?) ) %>
          <div class="col-md-12 cat-supp">
            <p class="card-title mt-4">Postes supplémentaires <%= link_to_add_row('Ajouter', form, :multi_profiles, class: 'btn btn-outline-secondary') %></p>
            <div class="fields mt-2 mb-5">
              <%= form.fields_for :multi_profiles do |builder| %>
                <fieldset>
                  <%= render 'multi_profile', form: builder %>
                </fieldset>
              <% end %>
            </div>
          <% end %>
          </div>
       </div>

      <div class="form-row cat-supp <% !@profile.pricing_plan.nil? && @profile.premium? ? '' : 'd-none' %>">
        <% if (current_user.admin? && @profile.user.enterprise? && (action_name == "edit" || action_name == "update"))%>
          <div class="col-md-12">
            <p class="card-title mt-4">Tarifications <%= link_to_add_tarifs_row('Ajouter', form, :tarifs, class: 'btn btn-outline-secondary') %></p>
              <div class="tarifs_fields mt-2 mb-5">
                <%= form.fields_for :tarifs do |builder| %>
                  <fieldset class="my-3">
                    <%= render 'tarif', form: builder %>
                  </fieldset>
                <% end %>
              </div>
          </div>
        <% elsif current_user.enterprise? %>
          <p class="card-title mt-4">Tarifications
          <table class="data-table table nowrap">
            <thead>
              <tr>
                <th>Categorie</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>
             <%if @profile.tarifs.present?%>
               <% @profile.tarifs.where(:admin_job_category_id => Admin::JobCategory.ids).each do |tarif| %>
                <tr>
                  <td><%= tarif.admin_job_category.title %></td>
                  <td><%= tarif.prix %> $CAD</td>
                </tr>
              <% end %>
            <% else %>
              <p>Aucune tarification n'a encore été defini sur votre profile veuillez contacter l'administrateur </p>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      
      <% if (current_user.worker?) || (current_user.admin? && @profile.user.worker? && action_name == "edit" ) %>
        <p class="card-title mt-4">Biographie</p>
        <div class="row">
          <div class="col-md-12">
            <%= form.label :Veuillez_décrire_votre_expérience_professionnelle_pour_le_ou_les_postes_choisis %>
            <%= form.text_area :bio,  class:"form-control" %>
          </div>
        </div>
      <% end %>
      <div class="form-row cat-supp <%= !@profile.pricing_plan.nil? &&  @profile.premium? ? '' : 'd-none' %>">
        <% if (current_user.enterprise?) || (current_user.admin? && @profile.user.enterprise? && action_name == "edit" ) %>
          <p class="card-title mt-4">Adresses supplémentaires <%= link_to_add_adresse_row('Ajouter', form, :multi_places, class: 'btn btn-outline-secondary') %></p>
          <div class="adresse_fields mt-2 mb-5">
            <%= form.fields_for :multi_places do |builder| %>
              <fieldset>
                <%= render 'multi_place', form: builder %>
              </fieldset>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-row">
        <div class="col-md-12">
            <% if ((current_user.worker? )|| (current_user.admin? && @profile.user.worker? && action_name == "edit")) %>
            <p class="card-title  mt-4"> Ajouter les expériences du profile</p>
            <%= link_to_add_experience_row('Ajouter une expérience', form, :experiences, class: 'btn btn-primary mt-4 text-light') %>
            <div class="experience_fields mt-2 mb-5">
              <%= form.fields_for :experiences do |builder| %>
                <fieldset>
                    <%= render 'experience', form: builder %>
                </fieldset>
              <% end %>
            </div>
          <% end %>
        </div>
     </div>

    <div class=" cat-supp <% !@profile.pricing_plan.nil? && @profile.premium? ? '' : 'd-none' %>">
      <% if (current_user.worker?) || (current_user.admin? && @profile.user.worker? && action_name == "update" ) %>
        <p class="card-title mt-4">Temps Libres <%= link_to_add_freetime_row('Ajouter', form, :freetimes, class: 'btn btn-outline-secondary') %></p>
        <div class="freetime_fields mt-2 mb-5">
          <%= form.fields_for :freetimes do |builder| %>
            <fieldset>
              <%= render 'freetime', form: builder %>
            </fieldset>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="card-title mt-4">Sondage (Comment avez-vous entendu parler de nous?)</p>
    <div class="row">
      <div class="col-md-12">
          <div class="">
              <%= form.select(:sondage, ['Facebook', 'Indeed', 'Collègue de travail', 'Recommandation', 'Autres'], {}, { :class => 'form-control' }) %>
          </div>
      </div>
    </div>
 
      <% if (current_user.worker? || (current_user.admin? && @profile.user.worker?) ) %>
      <p class="card-title mt-5">Dans quel quartier habitez-vous? (Référence pour l'employeur) </p>
      <div class="row">
        <div class="form-group col-md-12">
          <%= form.text_field :quartier, class:"form-control" %>
        </div>
      </div>
    <% end %>
    <% if current_user.admin? %>
      <p class="card-title mt-5">Nº de Référence</p>
      <div class="row">
        <div class="form-group col-md-12">
          <%= form.text_field :reference, class:"form-control" %>
        </div>
      </div>
    <% elsif @profile.reference.present? && (action_name =="update" || action_name =="edit")  && current_user.role != "admin" %>
      <p class="card-title mt-5">Nº de Référence: </p> <span> <%= @profile.reference %></span>
    <% end %>

     
      
      <!--<div class="form-check mt-5">
        <%# if ((action_name =="update" || action_name =="edit") && current_user.admin?) %>
          <%#= form.hidden_field :user_id, :value => @profile.user.id %>
        <%# elsif  current_user.enterprise? ||  current_user.worker?  %>
          <%#= form.hidden_field :user_id, :value => current_user.id %>
        <%# end %>
      </div>-->

      <div class="form-check mt-5">
        <%= form.hidden_field :user_id %>
      </div>

      <% if current_user.admin? %>
        <div class="form-check text-center approved">
            <%# <%= form.check_box :approved %>
            <%= form.check_box  :approved, as: :boolean %>
            <label class=""> valider ce compte </label>
        </div>
      <% end %>
        <div class="mt-3">
            <%= form.submit "Enregistrer",class:"btn btn-primary"%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


<script>

  $('input#free').click(function(){
    $('.cat-supp').addClass("d-none");
	});
  $('input#premium').click(function(){
    $('.cat-supp').removeClass("d-none");
  });

 $(window).on('popstate', function(event) {
  location.reload();
});

$(document).ready(function(){
    var $optgroups_province = $('#region > optgroup');
    var $optgroups_ville = $('#ville > optgroup');
    $("#province").on("change",function(){
      var selectedVal = this.value;
      $('#region').html($optgroups_province.filter('[label="'+selectedVal+'"]'));
  });

  $("#region").on("change",function(){
      var selectedVal = this.value;
      $('#ville').html($optgroups_ville.filter('[label="'+selectedVal+'"]'));
  });  
});

$(document).ready(function() {
  var countryData = window.intlTelInputGlobals.getCountryData();
  var input_num = document.querySelector(".num_tel");
  var input = document.querySelector(".phone");
  var input_contact = document.querySelector(".phone2");

  for (var i = 0; i < countryData.length; i++) {
      var country = countryData[i];
      country.name = country.name.replace(/.+\((.+)\)/, "$1");
  }

  const iti = window.intlTelInput(input, {
      utilsScript: '../vendors/intl-tel-input/js/utils.js', // just for formatting/placeholders etc
      preferredCountries: ["ca", "us"],
      initialCountry: "auto",
      geoIpLookup: function(success, failure) {
          $.get(
              "https://ipinfo.io?token=39e9f6ec5059a6",
              function() {},
              "json"
          ).always(function(resp) {
              // console.log(resp);
              var countryCode = resp && resp.country ? resp.country : "ca";
              success(countryCode);
          });
      },
  });
  input.addEventListener('blur', (event) => {
      // console.log(iti.getSelectedCountryData());
      var number = iti.getNumber();
      $('.phone1').val(number);
  });
  const phone_number = window.intlTelInput(input_contact, {
      utilsScript: "../vendors/intl-tel-input/js/utils.js", // just for formatting/placeholders etc
      preferredCountries: ["ca", "us"],
      initialCountry: "auto",
      geoIpLookup: function(success, failure) {
          $.get(
              "https://ipinfo.io?token=39e9f6ec5059a6",
              function() {},
              "json"
          ).always(function(resp) {
              console.log(resp);
              var countryCode = resp && resp.country ? resp.country : "bj";
              success(countryCode);
          });
      },
  });

  input_contact.addEventListener('blur', (event) => {
     const iti = phone_number 
    // console.log(iti.getSelectedCountryData());
    var number = phone_number.getNumber();
    $('#phone2').val(number);
  });
});
</script>