<div class="nested-adresse-fields">
  <%= form.hidden_field :_destroy %>
  <% if (current_user.admin? && action_name == "edit") || (current_user.profile.present?) %>
    <%= form.hidden_field :profile_id, :value => @profile.id %>
  <% else %>
    <%= form.hidden_field :profile_id, :value => current_user.id %>
  <% end %>

  <p class="card-title mt-2">Adresse</p>
  <div class="form-group">
    <label for="inputAddress">Adresse ligne 1</label>
    <%= form.text_field :adresse1, class:"form-control", :placeholder=>"Rue, Quartier" %>
  </div>

  <div class="form-group">
    <label for="inputAddress2">Adresse ligne 2</label>
    <%= form.text_field :adresse2, class:"form-control", :placeholder=>"Nº App ou Bureau" %>
  </div>
  
  <div class="form-group">
    <%= form.label :pays %>
    <%= form.country_select :country, {only: %w(CA),selected: "CA", prompt: 'Choisir un pays'},{ class: 'form-control' } %>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label :Province %>
      <%= form.collection_select  :province, Admin::Location::Province.order(:name), :name, :name, {include_blank: "Choisir une province..."}, {class: "form-control"}  %>     
    </div>
    <div class="form-group col-md-3">
      <%= form.label :Région %>
      <%= form.collection_select :region, Admin::Location::Region.order(:name), :name, :name, {include_blank: "Choisir une région..."}, {class: "form-control"} %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :Ville %>
      <%= form.collection_select :ville, Admin::Location::Ville.order(:name), :name, :name, {include_blank: "Choisir une ville..."}, {class: "form-control"} %>   
    </div>
    <div class="form-group col-md-3">
      <%= form.label :Code_postal %>
      <%= form.text_field :code_postal, class:"form-control"  %>
    </div>
  </div>

  <div>
    <%= link_to 'Supprimer', '#', class: 'remove_record' %>
  </div>
</div>