<div class="nested-fields">
    <%= form.hidden_field :_destroy %>
      <% if (current_user.admin?  && action_name == "edit") || (current_user.profile.present?)%>
        <%= form.hidden_field :profile_id, :value => @profile.id %>
      <% else %>
        <%= form.hidden_field :profile_id, :value => current_user.id %>
      <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="<%= current_user.enterprise? ? 'col-md-12' : 'col-md-9' %> ">
            <div class="mb-2">
              <% if current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?)  %>
               <%= form.collection_select  :admin_job_category_id, Admin::JobCategory.where(parent_id: nil ), :id, :title, {include_blank: "Choisir un secteur d'activité..."}, {class: "form-control"} %>
              <% elsif current_user.worker? || (current_user.admin? && @profile.user.worker?) %>
                <%= form.grouped_collection_select :admin_job_category_id, Admin::JobCategory.where(parent_id: nil).order(:title), :children, :title, :id, :title, {include_blank: "Choisir un poste..."}, {class: "form-control"} %>
              <% end %>
            </div>
          </div>

          <%# if (current_user.admin?) %>
           <!-- <div class="col-md-9">
              <div>
                <%#= form.label :Prix %>
                <%#= form.number_field :prix,  class:"form-control" %>
              </div>
            </div>-->
          <%#end%>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to 'Supprimer', '#', class: 'remove_record' %>
      </div>
    </div>
</div>