<div class="container">
    <% @pro = Profile.find_by_id(params[:id]).id %>
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <% if current_user.admin? ||  current_user.comptable? %>
        <div class="card-box px-5">
          <%= form_for  Paiement.new, url: create_paiement_profile_path do |form| %>
            <div class="row">
              <div class="col-md-10 py-5 mx-auto">
                <div class="col-md-12 ">
                  <div class="row">
                    <div class="col-md-6">
                      <%= form.label :Montant_à_verser %>
                      <%= form.number_field :montant, step: :any, class:"form-control", id:"price"%>
                    </div>
                    <div class="col-md-6 mt-4 pt-2">
                      <label class="btn btn-primary">
                        <i class="fa fa-image"></i> Ajouter un fichier <%= form.file_field :received, class:"d-none" %>
                      </label>
                    </div>
                  </div>
                  <div class="field mt-4">
                    <%= form.label :Description %>
                    <%= form.text_area :comment, class:"form-control form-control-lg" %>
                  </div>
                </div>
                <%= form.hidden_field :owner_id, :value => @profile.id, class:"form-control" %>
                <div class="col-md-12">
                    <%= form.submit "Effectuer la transaction", class:"btn btn-primary my-2 w-100" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%#= @jobsworker.last%> 
        <%# @jobsworker.where(owner_id: @profile).each do  |jojo| %>
          <%#= jojo.admin_job_category.title %>
      <%#end %>
      <% if current_user.profile.id == @pro  || current_user.admin? || current_user.comptable? %>
        <div class="card-box mb-30">
          <div class="d-flex align-items-center justify-content-between">
            <div class="">
               <h2 class="h4 pd-20">Historique de paiements </h2>
            </div>
            <div class="mr-4">
              <button class="btn btn-gray px-4 py-2" onclick="ExportToExcel('xlsx')">
                <span class="text-dark me-3">Export</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 17V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V17" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 12L12 16L16 12" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 2V16" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </div>
          <% @totalpaiement = 0 %>
          <% @p = 0 %>
          <table id="historical" class="data-table  table-responsive-sm table-hover table">
            <thead>
              <tr>
                <th>Versements</th>
                <th> Commentaires</th>
                <th >Date de paiement</th>
                <th >Pièce jointe</th>
                <th >Status</th>
              </tr>
            </thead>
            <tbody>
            <% if @profile.present? %>
                <% @paiements.each_with_index do |paiement, index| %>
                  <tr>
                    <td><%= paiement.montant %>$CAD</td>
                    <td><%= paiement.comment %></td>
                    <td><%= paiement.created_at %></td>
                    <% if !paiement.subscription? %>
                        <% if @profile.user.worker? %>
                          <td><%= link_to "Fiche de paie", paiement.received if paiement.received.attached?  %></td>
                        <% else %>
                          <% if !paiement.received.attached? %>
                            <td>Aucune</td>
                          <% else %>
                            <td><%= link_to "Facturation", paiement.received if paiement.received.attached?  %></td>
                          <% end %>
                        <% end %>
                        <% if paiement.confirmation.nil?%>
                          <% if current_user.worker?%>
                              <td class=""><%= link_to "Confirmer paiement", confirmation_paiement_profile_path(:paiement => paiement.id), remote: true, method: :post%></td>
                          <% elsif current_user.enterprise? %>
                            <% if paiement.admin_confirmation.nil? %>
                                <td class=""><%= link_to "Effectuer paiement", pay_bill_profile_path(:paiement => paiement.id), remote: true, method: :post%></td>
                              <% else %>
                                  <td class="text-success"><i class="fas fa-check"></i></td>
                              <% end %>
                            <% else %>
                              <% if paiement.admin_confirmation.nil? %>
                                  <%# <td class="badge badge-danger mt-2">Confirmation en cours</td> %>
                                  <td class=""><%= link_to "Annuler paiement",  canceled_paiement_profile_path(:paiement => paiement.id), remote: true, method: :post%></td>
                                  <td class=""><%= link_to "Effectuer la transaction", pay_bill_profile_path(:paiement => paiement.id), remote: true, method: :post%></td>       
                              <% else %>
                                <td class=""><%= link_to "Confirmer reception du paiement", confirmation_paiement_profile_path(:paiement => paiement.id), remote: true, method: :post%></td>
                                <%# <td class="text-success"><i class="fas fa-check"></i></td> %>
                              <% end %>
                            <% end %>
                          <% else %>
                              <td class="text-success"><i class="fas fa-check"></i></td>
                        <% end %>
                      <%# <% end %>
                    <% end %>
                  </tr>

                <% end %>
              <% end %>
            </tbody>
          </table>
          <p class="m-2 p-2 h2 text-right"> Total : <span id="total"><%= @profile.total_amount %></span>$CAD</p>
            <div class="d-flex justify-content-end">
              <%# @total = 0 %>
              <%# records = @jobsworker.where(owner_id: @profile, status: 1)%>
              <%# records.each_with_index do |propo, index| %>
                <%# @total += propo.job.job_money %>
                <%# if index == records.size - 1 %>
                  <!--<h2><small class="mr-5">Montant Restant a Payer</small> <strong><%#= total_paiement(params[:id]) %></strong>$CAD</h2>-->
                <%# end %>
              <%# end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById('historical');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
        XLSX.writeFile(wb, fn || ('paiement.' + (type || 'xlsx')));
  }
  $(document).ready(function() {
     var init_total = $('#total').text();
     var whole_part = Math.trunc(init_total)
     var total = Math.abs(whole_part)
     var total_lenght = total.toString().length;
    $("#price").attr({
      "max" : Math.abs(init_total),
      "min" : 1 ,
      "maxlenght" : total_lenght
    });
    function maxLengthCheck(object) {
      if (object.value.length > object.maxLength)
        object.value = object.value.slice(0, object.maxLength)
    }
    function isNumeric (evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode (key);
      var regex = /[0-9]|\./;
      if ( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }
    }
   
  });
   $('#historical').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true,
        "rowReorder": true,
        "language": {
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
      }
    });
</script>

      


 