<div class="container">
  <% @pro = Profile.find_by_id(params[:id]).id %>
  <div class="form-box">
    <p class="card-title ">Informations Personnelles</p>
      <div class="ml-auto"><p><%= link_to 'Modifier', edit_profile_path(@profile), class: "btn btn-primary ml-auto text-light mt-4" %></p></div>
      <div class="row mt-5 profile-detail  align-items-center">
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-md-6">
              <% if (current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?)) %>
                <p><strong>Nom de la société:</strong></p>
                <p><strong>Numéro enregistrement:</strong></p>
                <p><strong>Statut juridique:</strong></p>
              <% elsif  (current_user.worker? || (current_user.admin? && @profile.user.worker?))%>
                <p><strong>Nom:</strong></p>
                <p><strong>Prénom:</strong></p>
                <p><strong>CV :</strong></p>
              <% end %>
              <p><strong>Ville:</strong></p>
              <p><strong>Région :</strong></p>
              <p><strong>Contact :</strong></p>
              <p><strong>N Référence :</strong></p>
            </div>

            <div class="col-md-6">
              <% if (current_user.enterprise? || (current_user.admin? && @profile.user.enterprise?)) %>
                <p><%= @profile.nom_societe %> </p>
                <p><%= @profile.num_entreprise_quebec %> </p>
                <p><%= @profile.statut_juridique %> </p>
              <% elsif  (current_user.worker? || (current_user.admin? && @profile.user.worker?))%>
                <p><%= @profile.prenom %> </p>
                <p><%= @profile.nom %> </p>
                <p><%= link_to "Telecharger Mon CV", @profile.cv if @profile.cv.attached? %></p>
                 <%#= @profile.photo.variant(resize: "50x50" ) if @profile.cv.attached? %>
                <%#= image_tag @profile.cv.preview(resize_to_limit: [100, 100]) %>
      
                <%#= p @profile.cv.service_url%>
               
                <%#= link_to "document.filename", rails_blob_path( @profile.cv, disposition: 'inline') %>
              <%end%>
              <p><%= @profile.ville %> </p>
              <p><%= @profile.region %></p>
              <p><%= @profile.num_tel %></p>
              <p><%= @profile.tel_contact %></p>
              <p><%= @profile.reference %></p>
               <p><%=  @profile.reviews.average(:rate)%></p>
            </div>
          </div>
        </div>
      </div>

    <% @experiences.where(profile_id: @profile).each do |experience| %> 
      <div class="form-box my-1">
        <p><strong><%= experience.admin_job_category.title %></strong> </p>
        <p><strong> Nombre d'année d'experiences </strong> <%= experience.nb_experience %> Ans </p>
        <p><%= experience.diplome %></p>
        <p><%= experience.description %></p>
      </div>
    <% end %>
  </div>
</div>

      


 