<!DOCTYPE html>
<html>
  <head>
    <title>Naturetropicale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.role == "enterprise" || current_user.role == "worker" %>
          <%= render 'layouts/user-shared/navbar' %>
      <% else %>
         <div class="wrapper">
            <!-- Sidebar  -->
            <%= render 'layouts/admin-shared/sidebar' %>
            <%= render 'layouts/admin-shared/navbar' %>
            <!-- Page Content  -->
         </div>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
        <% if current_user && (current_user.role == "enterprise" || current_user.role == "worker")  %>
        
        <%else%>
       </div>
    <% end %>

    <% end %>
    <% if user_signed_in? && (current_user.role == "enterprise" || current_user.role == "worker")  %>
      <div class="">
        <%= flash_messages %>
      </div>
    <% end %>

    <% if !user_signed_in? %>
       <%= yield %>
    <% end %>
       
    <% if user_signed_in? && (current_user.role == "enterprise" || current_user.role == "worker") %>
      <%= yield %>
      <%= render 'layouts/admin-shared/footer' %>
    <%end%>
  </body>

  <script>
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
          $('#sidebar').toggleClass('active');
          $('#content').toggleClass('active');
      });
    });
  </script>
</html>


