<%= form_for @proposal, remote: true do |form| %>
  <div class="modal-body">
    <div class="field">
      <%= form.label :information_complémentaire %>
      <%= form.text_area :information_complementaire, class:"form-control form-control-lg" %>
    </div>

    <div class="field">
      <%= form.hidden_field :job_id, :value =>  @job.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :owner_id, :value => current_user.profile.id %>
    </div>
  </div>
  <div class="modal-footer">
    <div class="actions">
      <%= form.submit "Envoyer l'offre", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
  
