<div class="container">
  <div class="row no-gutters my-4" id="job-details">
    <div class="col-11 equal-row no-gutters col-sm-10 col-md-8 col-lg-8 col-xl-8">
      <div class="row no-gutters col-lg-12 form-box">
        <div class="w-100 ">
          <% if   @proposal.job.status == "posted" %>
              <span class=" badge bg-success p-2 text-light float-right mr-2"> Disponible </span>
          <% elsif   @proposal.job.status == "in_progress" %>
              <span class=" badge bg-warning p-2 text-light float-right mr-2"> En cours </span>
          <% elsif   @proposal.job.status == "finished" %>
            <span class=" badge bg-info p-2 text-light float-right mr-2"> Terminé </span>
          <% end %>
          <h1 class="border-bottom"><strong>Poste:  </strong><%= @proposal.job.admin_job_category.title %> </h1>
        </div>
        <div class="job-description">
          <p class="card-title  mt-4"> Description du Job</p>
          <div class=""><%= @proposal.job.description %></div>
          <p class="card-title  mt-4"> Information specifique au job</p>
          <div class=""><%= @proposal.job.information_specifique %></div>
            <div>
              <% if @proposal.job.status == "in_progress" %>
                
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-11 equal-row col-sm-10 col-md-4 col-lg-4 col-xl-4 mx-auto my-4">
      <div class="job-details">
        <h3>À propos de l'employeur</h3>
        <div class="row my-1">
          <span class="col-1"><i class="fas fa-building mr-2"></i></span>
          <span class="col"><%= @proposal.job.owner.nom_societe %></span>
        </div>
        <div class="row my-1">
          <span class="col-1"><i class="fas fa-phone-alt mr-2"></i></span>
          <span class="col"><%= @proposal.job.owner.tel_contact %></span>
        </div>
        <div class="row my-1 mb-4"><span class="col-1"><i class="fas fa-map-marker-alt mr-2"></i></span><span class="col"><%= @proposal.job.owner.adresse %></span></div>
        <div class="row my-1">
          <span class="col-1"><i class="fas fa-coins mr-2"></i></span>
          <span class="col">
            <%= @proposal.job.job_money %> $CAD
          </span>
        </div>
        <div class="my-1"><span>Du : <%= @proposal.job.start_date.to_formatted_s(:short) %></span></div>
        <div class="my-1"><span>Au : <%= @proposal.job.end_date.to_formatted_s(:short) %></span></div>
        <div class="my-1">
          <% time = "#{(@proposal.job.end_date - @proposal.job.start_date)/3600}" %>
           <% time_decimal = time.to_f.modulo(1) %>
          <span>Durée :  <%= time.to_i %></span>  <%= time.to_i == 1 ? "Heure" : "Heures" %> <%= (time_decimal * 60).to_i %> mins
        </div>
        <div class="my-1">
          <% if @proposal.job.factor.to_i === 1 && @proposal.job.taux  === false%>
            <span>Type : Job normal </span>
          <% elsif @proposal.job.factor.to_i  === 1 && @proposal.job.taux  === true%>
          <span>Type : Job normal à taux supplémentaire </span>
          <% elsif @proposal.job.factor.to_i  === 2 && @proposal.job.taux  === false%>
            <span>Type : Jour Ferié </span>
          <% elsif @proposal.job.factor.to_i  === 2 && @proposal.job.taux  === true%>
            <span>Type : Jour Ferié à taux supplémentaire </span>
          <% end %>
        </div>
       

        <h3 class="mt-4">Lien du job</h3>
        <p id="job-url"><span><%= job_url(@proposal.job) %></span></p>
        <a id='copy-button' onclick="copyToClipboard('#job-url')" href='#' class='link' data-toggle="tooltip" data-placement="right" title="copier dans le presse-papier">
        Copier</a>

        <% if (current_user.enterprise? && @proposal.job.owner.id = current_user.profile.id) %>
          <h3 class="mt-4">Actions sur ce job </h3>
          <%= link_to 'Modifier le job', edit_job_path(@proposal.job), class: "btn btn-primary text-light" %> 
        <% end %>
      </div>
    </div>
  </div>

  <% if (current_user.worker? && @proposal.present? && @proposal.owner_id = current_user.profile.id) %>
    <div class="row my-4" id="freelancer-section">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card-box">
          <div class="row p-4 d-flex align-items-center">
            <div class="col-md-2 ">
                <div class="img-circle mx-auto">
                  <%= image_tag @proposal.owner.photo.thumb.url, :class=> "rounded-circle" %>
                </div>
                <div class="user-details">
                  <p class="text-center mt-2">
                    <%= @proposal.owner.nom %> 
                    <%= @proposal.owner.prenom %>
                  </p>
                </div>
            </div>
            <div class="col-md-7">
              <h4 class="card-title  mt-4">biographie</h4>
              <p class=""> <%= @proposal.owner.bio%></p>
            </div>
            <div class="col-md-3 text-center ">
              <% @proposal.status?  %>
              <% if @proposal.job.status == "finished" %>
                <p class="text-danger"> Job terminé <a href="#proposal-reviews" data-toggle="modal" data-job-owner-id=<%= @proposal.job.owner_id%>>Me Noter</a> 
              <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

 <div class="modal fade" id="proposal-reviews" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="proposal-reviews" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Note Moi </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= render partial: 'reviews/form' %>
    </div>
  </div>
</div>

<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
      
  }
  $(document).on("turbolinks:load", () => {
    $("a.link").tooltip();
    $("#copy-button").on('click', function() {
      event.preventDefault();
      $("#job-url").focus().select();

      var tooltip = $(this);
      tooltip.attr('data-original-title', 'Copié!');
      $("a.link").tooltip('show');
      
    });
  });

  $('#proposal-reviews').on('show.bs.modal', function(e) {
      var jobId = $(e.relatedTarget).data('job-owner-id');
      $(e.currentTarget).find('input[name="review[profile_id]"]#job-owner').val(jobId);
      console.log($(e.currentTarget).find('input[name="review[profile_id]"]#job-owner').val(jobId);)
  });
</script>


