

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Job:</strong>
  <%= @review.job_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @review.profile_id %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @review.rate %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
