<main class="container">
  <%= link_to sanitize("&larr; Back to contacts"), contacts_path %>
  <div class="header">
    <h1>
      <%= @contact.first_name %>
    </h1>
  </div>
  <div class="container">
   <div class="row">
      <h2> Details </h2>
      <div class="card col-md-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b> Last name :</b><%= @contact.last_name %></li>
          <li class="list-group-item"> <b> Email : </b> <%=  @contact.email %></li>
          <li class="list-group-item"> <b> phone_number :</b>  <%= @contact.phone_number%></li>
        </ul>
      </div>
    </div>

    <h2 class="mt-4">History of edits</h2>
    <% if @versions.length == 0%>
      <div class="card col-md-12 p-4 my-2">
        <p> There are any changes for this contact</p>
      </div>
    <% else %>
      <ul>
        <% @versions.each do |version| %>
          <li>
            <div class="card col-md-12 p-4 my-2">
              More info:
              <pre><%= version.object %></pre>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</main>