<%if user_signed_in? && current_user.profile.present? %>
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                  <li class=""> <%= link_to "Accueil",admin_dashboard_index_path, :class => 'nav-link my-2' %></li> 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if current_user.profile.photo.attached? %>
                        <%= image_tag current_user.profile.photo, width:"40", height:"40", class:"rounded-circle" %>
                    <% else %>
                        <%=  image_pack_tag 'login-img.png', width:"40", height:"40", class:"rounded-circle" %>
                    <% end %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                       <%= link_to "Profile",edit_profile_path(current_user.id) , :class => 'dropdown-item' %>
                       <%= link_to "Paramètres", edit_user_registration_path, :class => 'dropdown-item' %>
                       <%= link_to "Deconnexion", destroy_user_session_path, :class => 'dropdown-item', method: :delete %>
                    </div>
                  </li>  
                  
              </ul>
          </div>
      </div>
  </nav>
   <div class="">
      <%= flash_messages %>
    </div>
  <%= yield %>
</div>
<% end %>
  <!-- partial -->