
<div class="m-4 text-right">
  <%= link_to 'Créer une Categorie', new_admin_job_category_path, class: "py-2 btn-primary text-light btn-lg" %>  
</div>  

<div class="card-box mb-30">
  <table id="categories" class="table table-responsive-sm display" style="width:100%">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th>Parent</th>
        <th colspan="2" class="text-right">Actions</th>
        <%# <th ></th> %>
        <%# <th ></th> %>
      </tr>
    </thead>
    <tbody>
    <% @admin_job_categories.each do |parent| %>
      <% parent.children.each do |child| %>
        <tr>
          <td><%= child.title %></td>
          <td><%= child.amount_employee %></td>
          <td><%=  parent.title %></td>
          <td><%#= link_to 'Voir', child %></td>
          <td><%= link_to 'Modifier', edit_admin_job_category_path(child) %></td>
          <td><%= link_to 'Supprimer', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end %>
    <% end %>
    </tbody>
  </table>
</div>


<script>
    $(document).ready(function() {
      $('#categories').DataTable( {
          "paging":   true,
          "ordering": false,
          "info":     true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
      } );
    } );

</script>
