<div class="nested-fields">
    <%= form.hidden_field :_destroy %>
    <% if (current_user.admin? || current_user.assistant? && action_name == "show") %>
      <%= form.hidden_field :job_id, :value => @job.id %>
    <%end%>

    <div class="row">
      <div class="col-md-6">
        <div class="field">
          <%= form.label :designation_extra %>
          <%= form.text_field :designation, class:"form-control form-control-lg" %>
        </div> 
      </div>

      <div class="col-md-3">
        <div class="field">
          <%= form.label :montant_entreprise %>
          <%= form.number_field :prix_entreprise ,step: :any, class:"form-control form-control-lg" %>
        </div> 
      </div>

      <div class="col-md-3">
        <div class="field">
          <%= form.label :montant_employé  %>
          <%= form.number_field :prix_employe ,step: :any, class:"form-control form-control-lg" %>
        </div> 
      </div>
    </div>

    <div>
       <%= link_to 'Supprimer', '#', class: 'remove_record' %>
    </div>
</div>