<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

  <%#= form_tag(jobs_path method: :get)  do %>
    <%# Store <%= text_field_tag :description, params[:description]  %>
    <%#= submit_tag 'Search'%>
  <%# end %>
  <table class="data-table table-responsive-sm table nowrap form-box">
    <thead>
      <tr>
        <th><%= sortable "poste"%></th>
        <th>Date de début </th>
        <th>Durée</th>
        <%# <th>Localition</th> %>
        <th>Entreprise</th>
        <th>Adresse</th>
        <th> Montant</th>
        <% if current_user.worker?%>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <% time = "#{(job.end_date - job.start_date)/3600}" %>
        <% time_decimal = time.to_f.modulo(1) %>
        <tr>
          <td><%= link_to job.poste, job_path(job.id), class: "text-primary" %> </td>
          <td><%= job.start_date.to_formatted_s(:short)  %></td>
          <td><%= time.to_i %> H <%= (time_decimal * 60).to_i  %> mins</td>
          <td><%=  job.owner.nom_societe %></td>
          <td><%=  job.job_adress %></td>
          <% if current_user.worker?%>
            <td><%=  job.employee_money %> $CAD</td>
            <td><%= link_to 'Postuler', job_path(job), class: "btn btn-outline-primary" %></td>
          <% else %>
            <td><%=  job.job_money %></td>
          <% end %>
          <!--<td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
  <!--<div id="jobs-paginate" class="d-flex justify-content-center my-4">
    <p class="text-center"><%#= paginate @jobs, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %></p>
  </div>-->
<%= will_paginate @jobs, list_classes: %w(pagination justify-content-center) %>