<div class="container">
  <div class="row no-gutters my-4" id="job-details">
    <div class="col-11 equal-row no-gutters col-sm-10 col-md-8 col-lg-8 col-xl-8">
      <% @extra_enterprise = @job.extras.sum("prix_entreprise") %>
      <% @extra_employe = @job.extras.sum("prix_employe") %>

      <% @extra_enterprise = !@extra_enterprise.nil? ? @extra_enterprise : 0  %>
      <% @extra_employe = !@extra_employe.nil? ? @extra_employe : 0 %>

      <div class="row no-gutters col-lg-12 form-box">
        <% @enterprise_amount =  @job.owner.tarifs.where(admin_job_category_id: @job.admin_job_category_id) %>
        <% job = @enterprise_amount.first %>
        <% time = "#{(@job.end_date - @job.start_date)/3600}" %>
        <% time_decimal = time.to_f.modulo(1) %>
        <% @dec_time = (time.to_f) * 3600 + time_decimal.to_f * 60  %>
        <% @dec_time = @dec_time + @job.start_date.to_f  %>
        <% @job_price =  @job.admin_job_category.amount_employee %>
 
        <% if @job.employee_dues?%>
          <% if @job.taux? %>
            <% @employee_price_taux = @job_price * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) * 1.5 + @extra_employe %>
            <% @enterprise_price_taux = job.prix * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) * 1.5 * 1.14975 + @extra_enterprise %> 
          <% else %>
            <% @employee_price  = @job_price * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) + @extra_employe %>
            <% @enterprise_price = job.prix  * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600)  * 1.14975 + @extra_enterprise %> 
          <% end %>
        <% else %>
          <% if @job.taux? %>
            <% @employee_price_taux = @job_price * ((@job.end_date - @job.start_date)/3600) + @extra_employe %>
            <% @enterprise_price_taux = job.prix * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) * 1.5  * 1.14975 + @extra_enterprise %> 
          <% else %>
            <% @employee_price  = @job_price * ((@job.end_date - @job.start_date)/3600) + @extra_employe %>
            <% @enterprise_price = job.prix  * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600)  * 1.14975 + @extra_enterprise %> 
          <% end %>
        <% end %>
        
        <div class="w-100 ">
          <% if (@job.status == "draft" ) %>
            <% if @job.taux? %>
              <%= link_to "Publier le Job", set_price_job_path(:jobmoney => number_with_precision( @enterprise_price_taux, :precision => 2) ,:employeemoney => number_with_precision(@employee_price_taux, :precision => 2), :date => Time.at(@dec_time)), :class => "btn btn-primary text-light float-right mr-2", remote: true, method: :post%>
            <% else %>
              <%= link_to "Publier le Job", set_price_job_path(:jobmoney => number_with_precision( @enterprise_price, :precision => 2), :employeemoney => number_with_precision(@employee_price , :precision => 2), :date => Time.at(@dec_time)), :class => "btn btn-primary text-light float-right mr-2", remote: true, method: :post  %>
            <% end %>
          <% elsif (@job.status != "draft")%>
            <p class="text-right">
              <% if  @job.status == "posted" %>
                  <span class=" badge bg-success p-2 text-light float-right mr-2"> Disponible </span>
              <% elsif @job.status == "in_progress" %>
                  <span class=" badge bg-warning p-2 text-light float-right mr-2"> En cours </span>
              <% elsif @job.status == "finished" %>
                <span class=" badge bg-info p-2 text-light float-right mr-2"> Terminé </span>
              <% end %>
           </p>
          <% end %>
          <h1 class="border-bottom"><strong>Poste:  </strong><%= @job.admin_job_category.title.parameterize %> </h1>
        </div>
        <div class="job-description">
          <p class="card-title  mt-4"> Description du Job</p>
          <div class=""><%= @job.description %></div>
          <p class="card-title  mt-4"> Information specifique au job</p>
          <div class=""><%= @job.information_specifique %></div>
            <div>
              <% if current_user&.worker?%>
                <% if @job.posted? %>
                  <!--<button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#staticBackdrop">
                    Postuler Maintenant
                  </button>-->

                  <%#= button_to accept_proposal_proposal_path(),class: "login-button", method: :get do%>
                    <!--<i class="fa fa-chevron-right"></i>-->
                  <%# end %>
                  <%= link_to "Postuler", accept_proposal_proposal_path(1),class:"btn btn-primary mt-4", data: { toggle: 'modal',target:"#staticBackdrop"  }, remote: true, method: :post  %>
                <% else %>
                  <% if @job.proposal.owner.id != current_user.profile.id %>
                    <p class="card-title  mt-4"> PS: <small> Ce job à déjà un candidat en exercice cliquez sur ce <%= link_to "lien", jobs_path(), class:"text-primary mt-4" %>  pour postuler a d'autres jobs actifs</small></p>
                  <% else %>
                   <p class="card-title  mt-4"> PS: <small> Vous avez déja postuler à ce job</small></p>
                  <% end %>
                <% end %>
              <% end %>
              <% if @job.status == "in_progress" %>
                
              <% end %>
              <% if !@job.reviews.empty? %>
                <h5 class="mt-4"><strong>Commentaires</strong></h5>
                <% @job.reviews.each do |review| %>
                  <span><strong><%=  review.profile_id == @job.proposal.owner.id ? "Employé" : "Client" %></strong></span>
                  <p><%= review.comment %></p>
                <% end %>
              <% end %>
            </div>
        </div>
        
      </div>
    </div>
    <div class="col-11 equal-row col-sm-10 col-md-4 col-lg-4 col-xl-4 mx-auto my-4">
      <div class="job-details">
        <h3>À propos de l'employeur</h3>
        <div class="row my-1">
          <span class="col-1"><i class="fas fa-building mr-2"></i></span>
          <span class="col"><%= @job.owner.nom_societe %></span>
        </div>
        <div class="row my-1">
          <span class="col-1"><i class="fas fa-phone-alt mr-2"></i></span>
          <span class="col"><%= @job.owner.tel_contact %></span>
        </div>
        <% if @job.job_adress.blank? %>
          <div class="row my-1 mb-2"><span class="col-1"><i class="fas fa-map-marker-alt mr-2"></i></span><span class="col"><%= @job.owner.adresse %></span></div>
        <% else %>
          <div class="row my-1 mb-2"><span class="col-1"><i class="fas fa-map-marker-alt mr-2"></i></span><span class="col"><%= @job.job_adress %></span></div>
        <% end %>

        <% if current_user.admin? %>
          <div class="row my-1">
            <span class="col-1"><i class="fas fa-coins mr-2"></i></span>
            <span class="col">
            <strong> Montant Job :</strong>
            <%= number_with_precision(@job.job_money, :precision => 2) %>$CAD TTC
          </div>
        <% end %>

        <% if current_user.admin? %>
          <div class="row my-1">
            <span class="col-1"><i class="fas fa-coins mr-2"></i></span>
            <span class="col"> <strong>Montant Employé :</strong> <span id="test" onclick="myFunction()">
                <%= number_with_precision(@job.employee_money, :precision => 2) %>
                </span>$CAD TTC
            </span>
          </div>
        <% end %>

       <div class="row my-1">
           <% if @job.status == "draft" %>
              <span class="col-1"><i class="fas fa-coins mr-2"></i></span>
              <span class="col">
                <% if @job.taux? %>
                   <%= job.prix  * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) * 1.5 * 1.14975 + @extra_enterprise %>  $CAD TTC
                <% else %>
                 <%= job.prix  * @job.factor.to_i * ((@job.end_date - @job.start_date)/3600) * 1.14975 + @extra_enterprise %> $CAD TTC
                <% end %></span>
            <% else %>
                <% if current_user.profile.id == @job.owner.id  && current_user.enterprise? %>
                <%# <span class="col-1"><i class="fas fa-coins mr-2"></i></span> %>
                 <%# <span class="col"> %>
                  <%#= number_with_precision(@job.job_money, :precision => 2) %>
                  <%# $CAD TTC %>
                </span>
                <%# <p><strong>Montant du job</strong></p> %>
                <%# <p>Total HT: <strong><span class=""><i class="fas fa-coins"></i> <%= number_with_precision(@job.job_money / 1.14975, :precision => 2) %> 
                <%# <p>TPS: <span class="ml-5"><i class="fas fa-coins"></i> <%= number_with_precision((@job.job_money / 1.14975) * 0.05, :precision => 2) %> 
                <%# <p>TVQ: <span class="ml-5"><i class="fas fa-coins"></i> <%= number_with_precision((@job.job_money / 1.14975) * 0.09975, :precision => 2) %> 
                <%# <p class="bold">Total TTC: <strong><span class=""><i class="fas fa-coins"></i> <%= number_with_precision(@job.job_money, :precision => 2) %>
                <table id="deatils-jobs-price" class="table table-borderless">
                  <thead>
                    <tr>
                      <th colspan="2">Montant du job</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Total HT</strong></td>
                      <td><strong><span class=""><i class="fas fa-coins"></i> <%= number_with_precision(@job.job_money / 1.14975, :precision => 2) %> $CAD</span></strong></td>
                    </tr>
                    <tr>
                      <td>TPS</td>
                      <td><span class=""><i class="fas fa-coins"></i> <%= number_with_precision((@job.job_money / 1.14975) * 0.05, :precision => 2) %> $CAD</span></td>
                    </tr>
                    <tr>
                      <td>TVQ</td>
                      <td><span class=""><i class="fas fa-coins"></i> <%= number_with_precision((@job.job_money / 1.14975) * 0.09975, :precision => 2) %> $CAD</span></td>
                    </tr>
                    <tr>
                      <td><strong>Total TTC</strong></td>
                      <td>
                        <strong><span class=""><i class="fas fa-coins"></i> <%= number_with_precision(@job.job_money, :precision => 2) %> $CAD</span></strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

               
                <% elsif  current_user.worker? %>
                 <span class="col-1"><i class="fas fa-coins mr-2"></i></span>
                 <span class="col">
                  <%= number_with_precision(@job.employee_money, :precision => 2) %>$CAD TTC
                 </span>
              <% end %>
           <% end %> 
        </div>
        
         
        <div class="my-1"><span>Du : <%= @job.start_date.to_formatted_s(:short) %></span></div>
        <div class="my-1"><span>Au : <%= @job.end_date.to_formatted_s(:short) %></span></div>
        <div class="my-1">
          <span>Durée :  <%= time.to_i %></span>  <%= time.to_i == 1 ? "Heure" : "Heures" %> <%= (time_decimal * 60).to_i %> mins
        </div>
 
        <div class="my-1">
          <% if @job.factor.to_i === 1 && @job.taux  === false%>
            <span>Type : Job normal </span>
          <% elsif @job.factor.to_i  === 1 && @job.taux  === true%>
          <span>Type : Job normal à taux supplémentaire </span>
          <% elsif @job.factor.to_i  === 2 && @job.taux  === false%>
            <span>Type : Jour Ferié </span>
          <% elsif @job.factor.to_i  === 2 && @job.taux  === true%>
            <span>Type : Jour Ferié à taux supplémentaire </span>
          <% end %>
        </div>
       

        <h3 class="mt-4">Lien du job</h3>
        <p id="job-url"><span><%= job_url(@job) %></span></p>
        <a id='copy-button' onclick="copyToClipboard('#job-url')" href='#' class='link' data-toggle="tooltip" data-placement="right" title="copier dans le presse-papier">
        Copier</a>

        <% if ((current_user.enterprise? || current_user.admin?)  && @job.owner.id = current_user.profile.id) %>
          <h3 class="mt-4">Actions sur ce job </h3>
          <%# if @job.proposals.count <= 0 || current_user.admin? %>
          <% if  (current_user.admin? || (current_user.enterprise? && @job.owner_id = current_user.profile.id) && (@job.proposal.nil? || @job.invitations.nil?))  %>
            <%= link_to 'Modifier le job', edit_job_path(@job), class: "btn btn-secondary text-light" %> 
            <p><%= link_to 'Supprimer', @job, class: "btn btn-danger text-light mt-2", method: :delete, data: { confirm: 'Etes vous sure?' } %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<div class="row my-4" id="freelancer-section">
  <div class="col-md-12 col-lg-12 col-xl-12">
  <% if ((current_user.enterprise? || current_user.admin? )&& @job.owner.id = current_user.profile.id) && @job.status == "posted" %>
    <p class="card-title  mt-4"> Profiles correspondant à ce job</p>

    <div class="">
      <table id="list-proposal" class="data-table table-responsive-sm table nowrap ">
        <thead>
          <tr>
            <th><%= sortable ""%></th>
          </tr>
        </thead>
        <tbody>
        
          <% @profiles.each do |profile| %>
            <tr>
              <td>
                <div class="card-box">
                  <div class="row p-4 d-flex align-items-center">
                    <div class="col-md-2 ">
                      <div class="img-circle mx-auto">
                        <%#= image_tag profile.photo.thumb.url, :class=> "rounded-circle" %>
                         <% if profile.photo.attached? %>
                            <%= image_tag profile.photo, class:"rounded-circle" %>
                        <% else %>
                            <%=  image_pack_tag 'login-img.png', class:"rounded-circle" %>
                        <% end %>
                      </div>
                      <div class="user-details">
                        <p class="text-center mt-2">
                          <%= profile.nom %> 
                          <%= profile.prenom %>
                        </p>
                        <div class="user_mark d-flex justify-content-center">
                          <% if profile.reviews.present? %>
                            <% @p_empty = 5 - profile.reviews.average(:rate).to_i %>
                            <% profile.reviews.average(:rate).to_i.times do  %>
                              <i style="color: #f1e576;" class="fas fa-star"></i>
                            <% end %>
                          
                            <% @p_empty.times do %>
                              <i class="far fa-star"></i>
                            <% end %>
                          <% else %>
                            <% 5.times do  %>
                              <i class="far fa-star"></i>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <p class=""> <%= profile.bio%></p>
                    </div>
                    <div class="col-md-3 text-center ">
                        <% if profile.invitations.where(job_id: @job.id).blank? %>
                          <p><%= link_to (current_user.enterprise? ? "Invite Moi" : "Assigne Moi"), invitation_to_job_path(:param1 => profile, :param2 => @job), :class => "btn btn-primary text-dark", data: {disable_with: "Patientez svp..."}, remote: true, method: :post  %></p>
                        <% else %>
                          <p><%= link_to "deja invité", "javascript:void(0)", :class => "btn btn-primary text-dark disabled" %></p>
                        <% end %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>
      
  <%# if (@job.status != "posted" || @job.status != "draft") && @job.proposals.count > 0 %>
  <% if (@job.status != "posted" || @job.status != "draft") %>
    <%# @job.proposals.each do |proposal|%>
     <% if !@job.proposal.nil?%>
      <% if (current_user.profile.id == @job.owner.id || current_user.profile.id == @job.proposal.owner.id) %>
        <div class="card-box">
          <div class="row p-4 d-flex align-items-center">
            <div class="col-md-2 ">
                <div class="img-circle mx-auto">
                  <%#= image_tag proposal.owner.photo.thumb.url, :class=> "rounded-circle" %>
                  <% if @job.proposal.owner.photo.attached? %>
                      <%= image_tag @job.proposal.owner.photo, width:"40", height:"40", class:"rounded-circle" %>
                  <% else %>
                      <%=  image_pack_tag 'login-img.png', width:"40", height:"40", class:"rounded-circle" %>
                  <% end %>
                </div>
                <div class="user-details">
                  <p class="text-center mt-2">
                    <%= @job.proposal.owner.nom %> 
                    <%= @job.proposal.owner.prenom %>
                  </p>
                </div>
                <div class="user_mark d-flex justify-content-center">
                 <% @empty_star = 5 - @job.proposal.owner.reviews.average(:rate).to_i %>
                  <% if @job.proposal.owner.reviews.present? %>
                    <% @job.proposal.owner.reviews.average(:rate).to_i.times do  %>
                      <i style="color: #f1e576;" class="fas fa-star"></i>
                    <% end %>
                    <% @empty_star.times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% else %>
                    <% 5.times do  %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% end %>
                </div>
            </div>
            <div class="col-md-7">
              <p class=""> <%= @job.proposal.owner.bio %></p>
              <p><%= @job.proposal.owner.quartier %></p>
              
      
            </div>
            <div class="col-md-3 text-center ">
              <span class=" badge bg-success p-2 text-light"> <%= @job.proposal.status  %> </span>
                <% if  @job.status == "finished" %>
                  <p class="text-danger mt-2"> Job terminé </p> 
                  <% if  !@job.reviews.empty? %>
                    <% @job.reviews.where(profile_id: current_user.id).each do |review|%>
                      <% if  current_user.profile.id == review.profile.id  || current_user.admin? %>
                       <p>Note obtenu: <span class="big-mark"><%= review.rate * 2 %></span>/10</p>
                       <% if review.profile.id == current_user.profile.id && @job.reviews.count <=1  %>
                        <p><a href="#reviews" data-toggle="modal" data-proposal-owner-id=<%= @job.proposal.owner.id%>>Donnez une note</a></p>
                       <% else %>
                        
                       <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p><a href="#reviews" data-toggle="modal" data-proposal-owner-id=<%= @job.proposal.owner.id%>>Donnez une note</a></p>
                  <% end %>
                <% elsif @job.status == "in_progress" && !current_user.enterprise? %>
                  <%= link_to "Terminé", job_finished_job_path(@job), :class => "btn btn-primary text-light", remote: true, method: :post, data: { confirm: 'Etes vous sure?' } %>
                <% end %>
                <% if current_user.admin? %>
                  <p><%= link_to 'Supprimer', @job.proposal, class: "btn btn-danger text-light mt-2", method: :delete, data: { confirm: 'Etes vous sure?' } %></p>
                <% end %>
            </div>
          </div>
        </div>
      <% else %>
         <p class="card-title text-center mt-4"><small> ce job à déjà un candidat en exercice cliquez sur ce <%= link_to "lien", jobs_path(), class:"text-primary mt-4" %>,  pour postuler a d'autres jobs actifs</small></p>
      <% end %>
      <%# end %>
     <% end %>
  <% end %>
  </div>
</div>
</div>

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Presentez votre candidature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <%= render partial: 'proposals/form' %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reviews" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="reviews" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Note Moi </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <%= render partial: 'reviews/form' %>
      </div>
    </div>
  </div>


<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
      
  }
  $(document).on("turbolinks:load", () => {
    $("a.link").tooltip();
    $("#copy-button").on('click', function() {
      event.preventDefault();
      $("#job-url").focus().select();

      var tooltip = $(this);
      tooltip.attr('data-original-title', 'Copié!');
      $("a.link").tooltip('show');
      
    });
  });

   $('#reviews').on('show.bs.modal', function(e) {
      var bookId = $(e.relatedTarget).data('proposal-owner-id');
      $(e.currentTarget).find('input[name="review[profile_id]"]#proposal-owner').val(bookId);
  });


  function myFunction() {
    document.getElementById("demo").innerHTML = "Hello World";
  }

   $(document).ready(function() {
      $('#list-proposal').DataTable( {
          "paging":   true,
          "ordering": false,
          "info":     true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
        //  dom: 'Bfrtip',
        //   buttons: [
        //       'copy', 'csv', 'excel', 'pdf', 'print'
        //   ]
      } );
    } );
</script>



