
<div class="my-4 mr-auto text-right" style="">
  <%= link_to 'Créer une Région', new_admin_location_region_path, class: "btn-primary text-light btn-lg" %>      
</div>

<div class="card-box mb-30">
  <h2 class="h4 pd-20">Liste des régions</h2>
    <!--<div class="w-50 px-3 my-4 float-left" style="">
    <%#= form_with(url: admin_location_regions_path, method: 'get', id: "search-filters", class: 'search', remote: true)  do |f| %>
    <div>
        <%#= f.text_field :query, class: "form-control", placeholder:"Search" %>
      </div>
    <%# end %>
  </div>-->


  <table id="region" class="table table-responsive-sm display" style="width:100%">
    <thead>
        <tr>
            <th>Region</th>
            <th>Province</th>
            <th colspan="2" class="">Actions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @admin_location_regions.each do |admin_location_region| %>
        <tr>
          <td><%= admin_location_region.name %></td>
          <td><%= admin_location_region.province.name %></td>
          <td><%= link_to 'Modifier', edit_admin_location_region_path(admin_location_region) %></td>
          <td><%= link_to 'Supprimer', admin_location_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
<br>




<script>
    $(document).ready(function() {
      $('#region').DataTable( {
          "paging":   true,
          "ordering": false,
          "info":     true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
      } );
    } );

</script>
